name = "SciPyDiffEq"
uuid = "505e40e9-d84e-434c-8501-7161967c02cb"
version = "0.2.2"
authors = ["Chris Rackauckas <accounts@chrisrackauckas.com>"]

[deps]
CommonSolve = "38540f10-b2f7-11e9-35d8-d573e4eb0ff2"
DiffEqBase = "2b5f629d-d688-5b77-993f-72d75c75574e"
PrecompileTools = "aea7be01-6a6a-4083-8856-8a6e6704d82a"
PyCall = "438e738f-606a-5dbb-bf0a-cddfbfd45ab0"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"

[compat]
CommonSolve = "0.2.6"
DiffEqBase = "6"
ExplicitImports = "1.14.0"
PrecompileTools = "1"
PyCall = "1.91"
Reexport = "1.0"
SciMLBase = "2.131.0"
julia = "1.10"

[extras]
ExplicitImports = "7d51a73a-1435-4ff3-83d9-f097790105c7"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["ExplicitImports", "Test"]
